&i2c2 {
    status = "okay";
    compatible = "nordic,nrf-twim";
    pinctrl-0 = <&i2c2_default>;
    pinctrl-1 = <&i2c2_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>; // 100kHz
};

&pinctrl {
    i2c2_default: i2c2_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 31)>, <NRF_PSEL(TWIM_SDA, 0, 30)>;
        };
    };

    i2c2_sleep: i2c2_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 31)>, <NRF_PSEL(TWIM_SDA, 0, 30)>;
            low-power-enable;
        };
    };
};
